
.forum_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    overflow-x: hidden;
    font-family: arial, sans-serif;

}

.row {
    width: 90%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    /* flex-basis: 30%; */
}

.row .pro_card {
    width: 300px;
    /* height: 300px; */
    margin: 20px;
    background-color: rgb(199, 253, 253);
    display: flex;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pro_detail img {
    top: 0;
    width: 300px;
    height: 200px;
    border-top-left-radius: 20px;
    position: relative;
}
.pro_detail .img .delete_titles {
    position: absolute;
    /* z-index: 1; */
}
.pro_detail .img .delete_titles i{
    color: aqua;
    font-size: 1.3rem;
    transition: .5s;

}
.pro_detail .img .delete_titles i:hover{
    transition: .5s;
    color: rgb(255, 17, 0);
    transform: translate(-10px,-10px);
    z-index: 5;
}

.forum_title {
    /* display: grid;
    place-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.forum_title h2 {
    border-bottom: 2px solid aqua;
}

.forum_title p {
    text-align: center;
}




